<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Osman Kahraman</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container" id="fade-in">
            <nav>
                <div class="name" style="position: fixed;">Osman KAHRAMAN</div>
                <br>
                <div class="links">
                    <a href="https://www.linkedin.com/in/osman-kahraman-2a6513220/">LinkedIn</a>
                    <a href="https://github.com/Osman-Kahraman">GitHUB</a>
                </div>
            </nav>
            <footer>
                <br>
                <p>© 2024 Osman KAHRAMAN</p>
            </footer>

            <div class="container">
                <div class="intro">
                    <div class="name">Osman KAHRAMAN</div>
                    <br><br>
                    <p>Hi! I am highly skilled and I have versatile professional with 5 years of advanced Python programming experience, 3 years of
                        expertise in machine learning, and 2 years as a TensorFlow developer. Possessing a robust technical background
                        from working as a technician and developing software solutions like the ALi real estate tracker program. Currently
                        pursuing a Bachelor's degree in Computer Programming at Seneca College, with a proven ability to quickly learn
                        and adapt to new technologies. Seeking an opportunity to leverage my programming skills and technical
                        experience in a challenging role that offers growth and innovation.</p>
                    <br><br>
                    <br><br>
                    <div style="right: 95%;">
                        <img
                            src="/Chill_guy_original_artwork.png"
                            alt="chillGuy"
                            height="100px"
                            width="100px"
                            style="opacity: 0.6; float: right;"
                        />
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
    </body>
</html>