<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Osman Kahraman</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="intro" id="fade-in">
            <br>
            <h2>Error 404</h2>
            <br>
            <img
                src="/mark.png"
                alt="mark_meritt"
            />
            <br>
            <h2>Mark Meritt is the best! This is not the page you are looking for btw...</h2>
            <br>
            <div class="container">
                <a href="/" class="c4" role="button">go back</a>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
    </body>
</html>