* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    width: 100%;
    height: 100%;
    background: #000;
    font-family: "Doto", serif;
    overflow-y: scroll;
}

.info {
    top: 10%;
    left: 50%;
    width: 50%;
    height: 80%;
    padding: 30px;
    overflow: auto;
    object-fit: contain;
    align-content: center;
    text-align: center;
}

.title {
    padding: 2em;
}

.title_img {
    width: auto;
    height: 50%;
    border: 2px solid #fff;
    border-radius: 12px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

legend {
    color:#fff;
}

label {
    color:#fff;
    text-align: left;
    width: 100%;
    margin-left: 10px;
}

nav, 
footer {
    position: fixed;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: difference;
}

.name {
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

a, 
p {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

a span {
    padding: 0 2em;
}

h2 {
    color: #fff;
}

.links {
    display: flex;
    gap: 2em;
    z-index: 2;
}

nav {
    top: 0;
}

footer {
    bottom: 0;
}

.intro {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    justify-content: center;
    object-fit: contain;
    align-content: center;
    text-align: center;
}

.c4 {
    overflow: hidden;
    background-color: #1f1f1f;
    align-items: center;
    display: inline-flex;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 18px;
    float: none;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Doto", serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
}
  
.c4:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  }
  
.c4:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}
  
.c4:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}

.checkbox-wrapper {
    --s-xsmall: 0.625em;
    --s-small: 1.2em;
    --border-width: 1px;
    --c-primary: #ffffff;
    --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
    --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
    --t-base: 0.4s;
    --t-fast: 0.2s;
    --e-in: ease-in;
    --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
}

.checkbox-wrapper .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.checkbox-wrapper .checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkbox-wrapper .checkbox + .checkbox {
    margin-top: var(--s-small);
}

.checkbox-wrapper .checkbox__symbol {
    display: inline-block;
    display: flex;
    margin-right: calc(var(--s-small) * 0.7);
    border: var(--border-width) solid var(--c-primary);
    position: relative;
    border-radius: 0.1em;
    width: 1.5em;
    height: 1.5em;
    transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
    box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.checkbox-wrapper .checkbox__symbol:after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 0.25em;
    height: 0.25em;
    background-color: var(--c-primary-20-percent-opacity);
    opacity: 0;
    border-radius: 3em;
    transform: scale(1);
    transform-origin: 50% 50%;
}

.checkbox-wrapper .checkbox .icon-checkbox {
    width: 1em;
    height: 1em;
    margin: auto;
    fill: none;
    stroke-width: 3;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    color: var(--c-primary);
    display: inline-block;
}

.checkbox-wrapper .checkbox .icon-checkbox path {
    transition: stroke-dashoffset var(--t-fast) var(--e-in);
    stroke-dasharray: 30px, 31px;
    stroke-dashoffset: 31px;
}

.checkbox-wrapper .checkbox__textwrapper {
    margin: 0;
}

.checkbox-wrapper .checkbox__trigger:checked + .checkbox__symbol:after {
    -webkit-animation: ripple-33 1.5s var(--e-out);
    animation: ripple-33 1.5s var(--e-out);
}

.checkbox-wrapper .checkbox__trigger:checked + .checkbox__symbol .icon-checkbox path {
    transition: stroke-dashoffset var(--t-base) var(--e-out);
    stroke-dashoffset: 0px;
}

.checkbox-wrapper .checkbox__trigger:focus + .checkbox__symbol {
    box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

#fade-in {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#fade-out {
    animation: fadeOutAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
}